@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap');

:root {
  --foreground-rgb: 55, 55, 55;
  --background-start-rgb: 238, 238, 238;
  --background-end-rgb: 238, 238, 238;
  --body-fs: 13px;
  --body-bg-color: #EEEEEE;
  --body-font: 'Be Vietnam Pro', sans-serif;
  --body-color: #373737;
  --body-line-height: 1.42857143;
  --h1: 36px;
  --h2: 30px;
  --h3: 24px;
  --h4: 20px;
  --h5: 18px;
  --h6: 16px;
  --cl1: #10723A;
  --cl2: #0A923C;
  --cl3: #10723A;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--body-font);
  font-size: var(--body-fs);
  line-height: var(--body-line-height);
  color: var(--body-color);
  background: var(--body-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* React DatePicker Styles */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  font-size: 0.875rem;
}

.react-datepicker__input-container input:focus {
  outline: none;
  ring: 2px;
  ring-color: #0A923C;
  border-color: transparent;
}
